

body{
    margin: 0;
    padding: 0;
}

/* Global Styiling for Password, Login, Register and UserName pages */

.PageColumns {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  min-height: 100vh;
}

.PageColumn__left {
  width: 156px;
}

.pageColumn__right{
  width: 100%;
}

.art{
  height: 100vh;
  min-height: 430px;
  width: 90%;
}

.userFormContainer {
  padding: 24px;
  min-width: 260px;
  max-width: 440px
}

.bottom-text{
  font-family: Noto Sans, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.bottom-link{
  font-family: IBMPlexSans, sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    color: #0079d3;
    text-decoration: none;
}

.bottom-link:hover{
  color: #3394dc;
}

.bottom-link:active{
  color: #0061a9;
}

.link-separator {
  color: #0079d3;
  margin: 0 4px;
}

/* Global Styiling for Settings pages */

.uppercase-h3-description {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 12px;
  text-transform: uppercase;
  border-bottom: 1px solid #CBCCCD;
  color: #7e7e7e;
  margin-bottom: 32px;
  padding-bottom: 6px;
}

.settings--container
{
    max-width: 1200px;
    display: flex;
    padding: 0px 16px;
    margin: 0 auto;
}

.settings--content
{
    flex: 1 1 auto;
    max-width: 700px;
}

.settings--flex
{
  flex-direction: column;
  display: flex;
  margin-bottom: 32px;
  width: 100%;
}

.settings--flexheader {
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    max-width: 80%;
  }

.settings--flexoption
{
        display: flex;
        align-items: flex-start;
        margin-top: 12px;
        -ms-flex-direction: column;
        flex-direction: column;
}

.settings--h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: var(--newCommunityTheme-bodyText);
    padding: 40px 0;
  }

.settings--p
{
    font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #aaa9a9;
  margin: 0;
}

.settings--h3
{
    font-size: 16px;
  font-weight: 570;
  line-height: 20px;
  margin: 0;
  margin-bottom: 4px;

  display: flex;
}

.settings--page {
  margin: 0 auto; 
  padding: 0 8px;
  max-width: 1200px;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
}

/* Global Styiling for Create page (the most likely to be not exclusive) */

.create--h1
{
  color: black;
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
}

body.modal-open {
  pointer-events: none;
}
