

body{
    margin: 0;
    padding: 0;
}

/* Global Styiling for Password, Login, Register and UserName pages */

.PageColumns {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  min-height: 100vh;
}

.PageColumn__left {
  width: 156px;
}

.art{
  height: 100vh;
  min-height: 430px;
  width: 90%;
}