@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.smallcontainer{
    display: flex;
    flex-direction: column;
    width: 100%; 
    align-items: flex-start;
    font-family: 'IBM Plex Sans';
  }
  .changecontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%
  }

  .subsectiontitle{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: var(--mainblackcolor);
  }

  .description{
    margin-top: -10px;
    font-size: 12px;
    font-weight:400;
    color: var(--graycolor);
  }
  
  .connectbutton{
    min-width: 200px;
    height: 28px;
    background-color: #4286f5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    color: white;
    margin-top: 10px;
  }

  .connectbutton:hover{
    background-color: #659cf5;
    transition: 0.6s;
    cursor: pointer;
  }

  .disconnectbutton{
    width: 80px;
    background-color: var(--buttonbackground);
    height: 30px;
    border-radius: 30px;
    border: none;
    color: var(--brightcolor);
    padding: 0px;
  }

  .disconnectbutton:hover{
    background-color:var(--hoverbrightcolor);
    transition: 0.6s;
    cursor: pointer;
  }

  .Xbutton:hover,.darkbutton:hover{
    cursor: pointer;
  }

  .modaloverlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--modaloverlaybackground);
    z-index: 1000; 
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .leftflex{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  
  
  .modal{
    background: white;
    position: relative;
    padding: 20px;
    border-radius: 8px;
    color: var(--mainblackcolor);
    font-family: 'IBM Plex Sans';
    width:400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1001;
  }

  .inputs,.invalidInput{
    min-height: 40px;
    width: 360px;
    font-size: 10px;
    margin-bottom: 20px;
  }

  .invalidInput{
    border: 2px solid red;
  }

  .errorMessage{
    margin: 0px;
    padding: 0px;
    color: red;
    font-size: 12px;
    margin-top: -20px;
    margin-bottom: 15px;
  }
  
  
  .darkbutton{
    position: relative;
    border-radius: 30px;
    border: none;
    background-color: var(--enabledbuttonbackground);
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 120px;
    height: 30px;
    margin-left: 10px
  }
  
  
  .darkbutton:disabled{
    background-color: var(--disabledbuttonbackground);
    color: var(--disabledbuttoncolor);
  }
  .darkbutton:disabled:hover{
    cursor: not-allowed;
  }
  
  
  .mailimage{
    width:50px;
    height: 50px;
  }
  
  .connectform{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0px;
    margin-right: 40px;
    width: 100%;
    height: 110px;
  }

  .connectformlabel{
    margin-left:45px ;
    margin-top: -40px;
    width: 370px;
  }
  
  
  .Xbutton{
    position: relative;
    top: -15px;
    left: 390px;
    background-color: white;
    border: none;
    font-size: medium;
  }

  .brightbutton{
    width: 80px;
    background-color: var(--buttonbackground);
    border-radius: 30px;
    height: 30px;
    border: none;
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 1px var(--brightcolor);
    color: var(--brightcolor);
  }

  .brightbutton:hover{
    background-color: var(--hoverbrightcolor);
    transition: 0.6s;
    cursor: pointer;
  }

  .picture{
    height: 24px;
    width: 35px;
    background-color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 0px;
    margin-left: -14px;
    margin-top: 0px;
  }