.settingOption
{
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 32px;
}

.settingOptionLeft {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  max-width: 80%;
  flex: 65%;
}


.settingOptionRight {
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.settingSuboption
{
  padding-left: 32px;
}

