<<<<<<< Updated upstream
.barcontainer{
    display: grid;
    grid-template-columns: 15% 5% 55% 5% 20%;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000;
    border-bottom: 0.2px solid grey;
    background-color: white;
}

.leftbar{
    grid-column: 1;
    display: flex;
    min-width: 200px;
}

.icontitle{
    display: flex;
    align-items: center;
    min-width: 170px;
}

.leftbar:hover{
    cursor: pointer;
}

.listicon{
    width: 40px;
    height: 30px;
    align-self: center;
    position: relative;
    left: 10px;
    padding: 5px;
}


.logo{
    height: 40px;
    position: relative;
    width: 50px;
    left: 5px;
}

.maintitle{
    font-size: 20px;
    font-weight: 900;
    color: #FF4500;
    position: relative;
    margin-bottom: 0px;
    left: 5px;
}

.searchbar{
    background-color: #b9b6b6;
    width: 100%;
    height: 35px;
    top: 15px;
    position: relative;
    border-radius: 20px;
    border: none;
    grid-column: 3;
    display: flex;
}

.searchbar:hover{
    background-color: rgb(212, 211, 211);
}

.searchinput{
    background-color: #b9b6b6;
    width: 95%;
    padding-left: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    
}

.searchinput:hover{
    background-color: rgb(212, 211, 211);
}

.searchinput:focus {
    background-color: white;
    border:0.3px grey solid;
}

.searchicon{
    color: transparent;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.rightbar{
    grid-column: 5;
    display: flex;
    justify-content: flex-end;
}

.baricons{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.buttondescription{
    margin-bottom: 0px;
}

.icons{
    position: relative;
    align-self: center;
    width: 30px;
    height: 25px;
    padding: 3px;
}

.profilepicture{
    position: relative;
    align-self: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 5px;
}

.icons:hover,.listicon:hover,.profilepicture:hover{
    cursor: pointer;
    border-radius: 45px;
    border:none;
    background-color: rgb(212, 211, 211);
}

.createbutton{
    display: flex;
    align-items: center;
    align-self: center;
    height: 30px;
    padding: 5px;
}

.createbutton:hover{
    cursor: pointer;
    border-radius: 20px;
    border:none;
    background-color: rgb(212, 211, 211);
}

.loginbutton{
    background-color: #DB3B00;
    border-radius: 20px;
    position: relative;
    align-self: center;
    width: 65px;
    right: 10px;
    color: white;
    border: none;
    height: 40px;
}

.loginbutton:hover{
    background-color: #A50016;
    cursor: pointer;
}

.unorderedlist{
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: white;
    position: absolute;
    z-index: 1001;
    right:2px;
    top: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.listitem{
    width: 200px;
    height: 45px;
    display: flex;
    align-items: center;
    color: rgb(135, 138, 140);
    border-bottom-style: solid;
    border-block-width: 0.7px;
    border-bottom-color: #c3bdbda1;
    padding: 8px 16px 8px 8px;
  }

  .itemlabel{
    /* font-family: 'IBM Plex Sans'; */
    font-weight: 500;
    margin: 0px;
    font-size: 14px;
    color: black;
  }

  .unorderedlist :hover {
    background-color:rgb(212, 211, 211);
    /* color: var(--mainblackcolor); */
    cursor: pointer;
  }

  .link {
    text-decoration: none;
    align-self: center;
    color: black
}

.modaloverlay{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: var(--modaloverlaybackground);
    z-index: 1000; 
    top: 60px;
    left: 0px;
  }

@media(min-width:1200px){
    .barcontainer{
        grid-template-columns: 15% 10% 50% 10% 15%;
    }
    
    .leftbar{
        min-width: 170px;
    }
    .listicon{
        display: none;
    }
}

@media (max-width: 900px) {
    .barcontainer{
        grid-template-columns: 15% 0% 60% 0% 25%;
    }

    .icontitle,.leftbar{
        min-width: 100px;
    }

    .maintitle {
        display: none;
    }
}

@media (max-width: 700px) {
    .barcontainer{
        grid-template-columns: 15% 0% 45% 0% 40%;
    }

    .icontitle,.leftbar{
        min-width: 60px;
    }

    .maintitle {
        display: none;
    }
}

@media (max-width: 600px) {
    .barcontainer{
        grid-template-columns: 20% 0% 35% 0% 45%;
    }

    .icontitle,.leftbar{
        min-width: 60px;
    }

    .maintitle {
        display: none;
    }
=======
.barcontainer{
    display: grid;
    grid-template-columns: 15% 5% 55% 5% 20%;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000;
    border-bottom: 0.2px solid grey;
    background-color: white;
}

.leftbar{
    grid-column: 1;
    display: flex;
    min-width: 200px;
}

.icontitle{
    display: flex;
    align-items: center;
    min-width: 170px;
}

.leftbar:hover{
    cursor: pointer;
}

.listicon{
    width: 40px;
    height: 30px;
    align-self: center;
    position: relative;
    left: 10px;
    padding: 5px;
}


.logo{
    height: 40px;
    position: relative;
    width: 50px;
    left: 5px;
}

.maintitle{
    font-size: 20px;
    font-weight: 900;
    color: #FF4500;
    position: relative;
    margin-bottom: 0px;
    left: 5px;
}

.searchbar{
    background-color: #b9b6b6;
    width: 100%;
    height: 35px;
    top: 15px;
    position: relative;
    border-radius: 20px;
    border: none;
    grid-column: 3;
    display: flex;
}

.searchbar:hover{
    background-color: rgb(212, 211, 211);
}

.searchinput{
    background-color: #b9b6b6;
    width: 95%;
    padding-left: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    
}

.searchinput:hover{
    background-color: rgb(212, 211, 211);
}

.searchinput:focus {
    background-color: white;
    border:0.3px grey solid;
}

.searchicon{
    color: transparent;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.rightbar{
    grid-column: 5;
    display: flex;
    justify-content: flex-end;
}

.baricons{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.buttondescription{
    margin-bottom: 0px;
}

.icons{
    position: relative;
    align-self: center;
    width: 30px;
    height: 25px;
    padding: 3px;
}

.profilepicture{
    position: relative;
    align-self: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 5px;
}

.icons:hover,.listicon:hover,.profilepicture:hover{
    cursor: pointer;
    border-radius: 45px;
    border:none;
    background-color: rgb(212, 211, 211);
}

.createbutton{
    display: flex;
    align-items: center;
    align-self: center;
    height: 30px;
    padding: 5px;
}

.createbutton:hover{
    cursor: pointer;
    border-radius: 20px;
    border:none;
    background-color: rgb(212, 211, 211);
}

.loginbutton{
    background-color: #DB3B00;
    border-radius: 20px;
    position: relative;
    align-self: center;
    width: 65px;
    right: 10px;
    color: white;
    border: none;
    height: 40px;
}

.loginbutton:hover{
    background-color: #A50016;
    cursor: pointer;
}

.unorderedlist{
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: white;
    position: absolute;
    z-index: 1001;
    right:2px;
    top: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.listitem{
    width: 200px;
    height: 45px;
    display: flex;
    align-items: center;
    color: rgb(135, 138, 140);
    border-bottom-style: solid;
    border-block-width: 0.7px;
    border-bottom-color: #c3bdbda1;
    padding: 8px 16px 8px 8px;
  }

  .itemlabel{
    /* font-family: 'IBM Plex Sans'; */
    font-weight: 500;
    margin: 0px;
    font-size: 14px;
    color: black;
  }

  .unorderedlist :hover {
    background-color:rgb(212, 211, 211);
    /* color: var(--mainblackcolor); */
    cursor: pointer;
  }

  .link {
    text-decoration: none;
    align-self: center;
    color: black
}

.modaloverlay{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: var(--modaloverlaybackground);
    z-index: 1000; 
    top: 60px;
    left: 0px;
  }

@media(min-width:1200px){
    .barcontainer{
        grid-template-columns: 15% 10% 50% 10% 15%;
    }
    
    .leftbar{
        min-width: 170px;
    }
    .listicon{
        display: none;
    }
}

@media (max-width: 900px) {
    .barcontainer{
        grid-template-columns: 15% 0% 60% 0% 25%;
    }

    .icontitle,.leftbar{
        min-width: 100px;
    }

    .maintitle {
        display: none;
    }
}

@media (max-width: 700px) {
    .barcontainer{
        grid-template-columns: 15% 0% 45% 0% 40%;
    }

    .icontitle,.leftbar{
        min-width: 60px;
    }

    .maintitle {
        display: none;
    }
}

@media (max-width: 600px) {
    .barcontainer{
        grid-template-columns: 20% 0% 35% 0% 45%;
    }

    .icontitle,.leftbar{
        min-width: 60px;
    }

    .maintitle {
        display: none;
    }
>>>>>>> Stashed changes
}