
form{
    margin: 0px;
}

.info_holder{
    margin: 10px 0px;
    height: 35px;
    width: 250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 50px;
    
}

.or_spliter{
    color: rgb(125, 125, 125);
    margin: 10px 0px;
}

BlueButton{
    margin: 20px;
}

.errors-text{
    color: red;
    font-size: 10px;
}