.circle{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.upvotes_container{
    display: flex;
    align-items: center;
}

.post_footer{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.post_interactions{
    display: inline-flex;
    margin: auto auto auto 0;
    gap: 10px;
}

.mod_interactions{
    margin: auto 0 auto auto;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 6px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    height: 25px;
    font-size: 0.6rem;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}

.mod_interactions:hover{
    background-color: #E2E7E9;
}

.upvotes_button,.downvotes_button{
    height:25px;
    width:25px;
    border-radius:50% 0 0 50%;
}


.downvotes_button{
    border-radius:0 50% 50% 0;
}


.count{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    font-size: 0.6rem;
    font-weight: 600;
}

.btn{
    background-color: #EAEDEF;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 6px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    height: 25px;
    font-size: 0.6rem;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}

.btn:hover{
    background-color: #E2E7E9;
}




