<<<<<<< HEAD:src/app/components/Post/PostHeader.module.css
.header {
    font-size: 12px;
    line-height: 16px;
    overflow-wrap: break-word;
    text-wrap: nowrap;
    display: flex;
    margin-bottom: 4px;
    margin-top: -4px;
    min-height: 32px;
    justify-content: space-between;
}

.postHeaderInfo {
    display: flex;
    column-gap: 4px;
    flex-wrap: wrap;
    position: relative;
    row-gap: 4px;
    align-items: center;
}

.subRedditNameAndPicture {
    display: flex;
    align-items: center;
}

.subRedditNameAndPicture:hover .subRedditName {
    color: rgb(0, 53, 132);
}

.subRedditPicture {
    align-items: center;
    border-radius: 100%;
    height: 24px;
    width: 24px;
    margin-right: 6px;
}

.subRedditName {
    color: rgb(50, 54, 58);
    font-weight: 600;
}

.time {
    color: rgb(97, 104, 110);
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 100%;
    background-size: auto;
    height: 32px;
    line-height: 30px;
    width: 32px;
    cursor: pointer;
}

.options:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
=======
.header {
    font-size: 12px;
    line-height: 16px;
    overflow-wrap: break-word;
    text-wrap: nowrap;
    display: flex;
    margin-bottom: 4px;
    margin-top: -4px;
    min-height: 32px;
    justify-content: space-between;
}

.postHeaderInfo {
    display: flex;
    column-gap: 4px;
    flex-wrap: wrap;
    position: relative;
    row-gap: 4px;
    align-items: center;
}

.subRedditNameAndPicture {
    display: flex;
    align-items: center;
}

.subRedditNameAndPicture:hover .subRedditName {
    color: rgb(0, 53, 132);
}

.subRedditPicture {
    align-items: center;
    border-radius: 100%;
    height: 24px;
    width: 24px;
    padding-right: 6px;
}

.subRedditName {
    color: rgb(50, 54, 58);
    font-weight: 600;
}

.time {
    color: rgb(97, 104, 110);
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 100%;
    background-size: auto;
    height: 32px;
    line-height: 30px;
    width: 32px;
    cursor: pointer;
}

.options:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
>>>>>>> db480031eb5602bb9994a62f5aeee347bcad8d85:src/app/components/post/PostHeader.module.css
