.post {
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 14px;
    line-height: 21px;
    margin: 0px;
    width: 40%;
    color: rgb(42, 60, 66);
    border-radius: 16px;
    margin-left: 200px;
}

.post:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.body {
    display: flex;
    flex-direction: column;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.title {
    color: rgb(15, 26, 28);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0px;
    margin-bottom: 4px;
    overflow-wrap: break-word;
}

.changeImage {
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 100%;
    background-size: auto;
    height: 32px;
    line-height: 30px;
    width: 32px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.changeImage:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.media {
    border-radius: 16px;
    padding-bottom: 5px;
}

.image {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 28vw;
}

.video {
    width: 100%;
    height: 28vw;
    border-radius: 16px;
}

.backgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    filter: blur(48px);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    z-index: -1;
}

.previousImage {
    left: 10px;
}
  
.nextImage {
    right: 10px;
}