.recentPosts {
    width: 340px;
    height: 100%;
}

.header {
    display: flex;
    padding-top: 20px;
}

.clear {
    border: 0px;
    margin-left: auto;
    color: rgb(0, 69, 172);
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    margin-top: 16px;
    margin-bottom: 16px;
}

.title {
    color: rgb(87, 111, 118);
    line-height: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    display: flex;
    margin-top: 18px;
    margin-bottom: 18px;
}
