@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


.page {
  margin: 0 auto; 
  padding: 0 8px;
  max-width: 1200px;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
}




.subsection > h1 {
  color: #7C7C7C;
  font-size: 0.625rem;
  border-bottom: 0.1rem solid rgb(237, 239, 241);
  margin-bottom: 20px;
  padding-bottom: 6px;
}

.body {
  display: flex;
  flex-direction: column;
  padding-left: 14px;
  max-width: 688px;
}

.body > * {
  margin-bottom: 25px; /* Apply margin to all children */
}

.header {
  font-weight: 500;
  font-size: 1.25rem;
  margin-top: 40px;
  margin-bottom: 40px;
}
